.container {
    flex: 1;
    background-color: #f2f2f7;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 25px;
    margin: 20px;
}

.list {
    justify-content: center;
    align-items: center;
}

.input {
    width: 350px;
    height: 50px;
    border-width: 1px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
}

.search-icon {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 20px;
    color: #777;
} 