.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    top: -100px;
}

.button {
    background-color: green;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.login-text {
    color: #fff;
    font-size: 20px;
}

.input {
    margin: 10px;
    border-radius: 30px;
    background-color: #fff;
    width: 300px;
    padding: 15px 20px;
    font-size: 20px;
}


.icon {
    width: 100px;
}

.title {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}